In [1]:
import json
import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2
import Funciones
import pyarrow as pa
import pyarrow.parquet as pq

import warnings
warnings.filterwarnings("ignore")

In [2]:
#Se extraen los datos desde el archivo json, convirtiendolo en Dataframe y se observa su contenido

df_games = pd.read_json('..\Data\output_steam_games.json', lines=True )

In [3]:
print(df_games)

              publisher                                 genres  \
0                  None                                   None
1                  None                                   None
2                  None                                   None
3                  None                                   None
4                  None                                   None
...                 ...                                    ...
120440  Ghost_RUS Games  [Casual, Indie, Simulation, Strategy]
120441           Sacada              [Casual, Indie, Strategy]
120442     Laush Studio            [Indie, Racing, Simulation]
120443         SIXNAILS                        [Casual, Indie]
120444             None                                   None

                        app_name                     title  \
0                           None                      None
1                           None                      None
2                           None                      None
3                           None                      None
4                           None                      None
...                          ...                       ...
120440            Colony On Mars            Colony On Mars
120441  LOGistICAL: South Africa  LOGistICAL: South Africa
120442             Russian Roads             Russian Roads
120443       EXIT 2 - Directions       EXIT 2 - Directions
120444               Maze Run VR                      None

                                                      url release_date  \
0                                                    None         None
1                                                    None         None
2                                                    None         None
3                                                    None         None
4                                                    None         None
...                                                   ...          ...
120440  http://store.steampowered.com/app/773640/Colon...   2018-01-04
120441  http://store.steampowered.com/app/733530/LOGis...   2018-01-04
120442  http://store.steampowered.com/app/610660/Russi...   2018-01-04
120443  http://store.steampowered.com/app/658870/EXIT_...   2017-09-02
120444  http://store.steampowered.com/app/681550/Maze_...         None

                                                     tags  \
0                                                    None
1                                                    None
2                                                    None
3                                                    None
4                                                    None
...                                                   ...
120440              [Strategy, Indie, Casual, Simulation]
120441                          [Strategy, Indie, Casual]
120442                        [Indie, Simulation, Racing]
120443  [Indie, Casual, Puzzle, Singleplayer, Atmosphe...
120444  [Early Access, Adventure, Indie, Action, Simul...

                                              reviews_url  \
0                                                    None
1                                                    None
2                                                    None
3                                                    None
4                                                    None
...                                                   ...
120440  http://steamcommunity.com/app/773640/reviews/?...
120441  http://steamcommunity.com/app/733530/reviews/?...
120442  http://steamcommunity.com/app/610660/reviews/?...
120443  http://steamcommunity.com/app/658870/reviews/?...
120444  http://steamcommunity.com/app/681550/reviews/?...

                                                    specs price  early_access  \
0                                                    None  None           NaN
1                                                    None  None           NaN
2                                                    None  None           NaN
3                                                    None  None           NaN
4                                                    None  None           NaN
...                                                   ...   ...           ...
120440                [Single-player, Steam Achievements]  1.99           0.0
120441  [Single-player, Steam Achievements, Steam Clou...  4.99           0.0
120442  [Single-player, Steam Achievements, Steam Trad...  1.99           0.0
120443   [Single-player, Steam Achievements, Steam Cloud]  4.99           0.0
120444  [Single-player, Stats, Steam Leaderboards, HTC...  4.99           1.0

              id                 developer
0            NaN                      None
1            NaN                      None
2            NaN                      None
3            NaN                      None
4            NaN                      None
...          ...                       ...
120440  773640.0        Nikita "Ghost_RUS"
120441  733530.0                    Sacada
120442  610660.0  Laush Dmitriy Sergeevich
120443  658870.0             xropi,stev3ns
120444  681550.0                      None

[120445 rows x 13 columns]

In [4]:
# Se observan las filas que contienen vac√≠os y se eliminan dichos registros
df_games = df_games.dropna(how='all').reset_index(drop=True)
df_games.shape

(32135, 13)

In [5]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32135 entries, 0 to 32134
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 3.2+ MB

In [6]:
# Se revisan los tipos de datos por columna y la cantidad de nulos.

Funciones.verificar_tipo_datos(df_games)

,nombre,tipo_datos,porcentaje_no_nulos,porcentaje_nulos,nulos
0,publisher,"[<class 'str'>, <class 'NoneType'>]",74.94,25.06,8052
1,genres,"[<class 'list'>, <class 'NoneType'>]",89.78,10.22,3283
2,app_name,"[<class 'str'>, <class 'NoneType'>]",99.99,0.01,2
3,title,"[<class 'str'>, <class 'NoneType'>]",93.62,6.38,2050
4,url,[<class 'str'>],100.00,0.00,0
5,release_date,"[<class 'str'>, <class 'NoneType'>]",93.57,6.43,2067
6,tags,"[<class 'list'>, <class 'NoneType'>]",99.49,0.51,163
7,reviews_url,"[<class 'str'>, <class 'NoneType'>]",99.99,0.01,2
8,specs,"[<class 'list'>, <class 'NoneType'>]",97.92,2.08,670
9,price,"[<class 'float'>, <class 'str'>, <class 'NoneT...",95.71,4.29,1377
10,early_access,[<class 'float'>],100.00,0.00,0
11,id,[<class 'float'>],99.99,0.01,2
12,developer,"[<class 'str'>, <class 'NoneType'>]",89.73,10.27,3299

Se guarda el dataset como archivo csv  para su posterior exploraci√≥n y transformaci√≥n exahustiva:

In [8]:
archivo_csv = '..\Data\steam_games.csv'
df_games.to_csv(archivo_csv, index=False, encoding='utf-8')